.box1 {
  padding: 100px;
}

.unimportant {
  color: red;
  font-style: italic;
  font-weight: bold;
}

.important {
  color: blue;
}

.highlight {
  color:rgb(43, 255, 0);
  font-style: normal;
  font-size: x-large;
}
